<h1>Enter New Review</h1>
<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, collection %w[0 1 2 3 4 5] %>
  <%= f.submit "Submit review", class: "btn btn-primary"%>
<% end %>
